
html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.4vmax;
}

body {
	background-color: #2A2A2A;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.8);
	overflow-x: hidden;
}

//<<<<<<<<<<<<<<<<<< Header Style >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// navbar styling
.toggle-button {
	position: fixed;
	top: 2em;
	left: 2em;
	height: 40px;
	width: 45px;
	cursor: pointer;
	z-index: 3;
	&:hover {
		opacity: .9;
		-webkit-transition: all 0.8s ease;
		transition: all 0.8s ease;
		transform: rotate(180deg);
	}
	.line {
		background-color: darken(white, 10%);
		display: block;
		width: 100%;
		height: 3px;
		margin: 9px auto;
		border: 0;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
	}
}

.toggle-active {
	.line {
		background-color: #fff;
	}
	.top {
		-webkit-transform: translateY(10px) translateX(0) rotate(45deg);
	}
	.middle {
		opacity: 0;
	}
	.bottom {
		-webkit-transform: translateY(-13px) translateX(0) rotate(-45deg);
	}
}

.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	position: fixed;
	background: lighten(black, 30%);
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .5s, visibility .5s, height .5s;
	ul {
		display: block;
		font-family: 'Vollkorn', serif;
		font-size: 3em;
		font-weight: 400;
		text-align: center;
		list-style: none;
		padding: 0;
		li {
			display: block;
			margin: 0.7em auto;
			&:hover {
				-webkit-transition: all .7s ease;
				transition: all .7s ease;
				transform: scale(1.5);
			}
			a {
				font-size: 2.5em;
				line-height: 1.81em;
				color: #fff;
				text-decoration: none;
				text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.9);
				&:hover {
					text-shadow: 0px 0px 2em #fff;
					transform: scale(1.3);
					-webkit-transition: all .7s ease;
					transition: all .7s ease;
				}
			}
		}
	}
}

.nav-active {
	-webkit-transition: opacity .3s, visibility .5s, height .5s;
	opacity: 1;
	visibility: visible;
	height: 100%;
}

// mixin for transition prefixes and animations
$transition_style: all 0.3s ease;
// prefix mixin
@mixin transition_prefix ($style) {
	-webkit-transition: $style;
	-moz-transition: $style;
	-o-transition: $style;
	-ms-transition: $style;
	transition: $style;
}

$animation_sharpen: sharpen 0.5s linear backwards;
$animation_section: section_animation 1s ease backwards;
$animation_arrow: arrow 2s infinite;


@mixin animation_prefix ($animation){
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-animation: $animation;
}

section {
	width: 100vw;
	&.in_viewport {
		@include transition_prefix ($transition_style);
		@include animation_prefix($animation_section);
	}
}

// keyframes for section animation
@mixin animation_section_prefixes {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}
@keyframes section_animation {
	@include animation_section_prefixes;
}

@-moz-keyframes section_animation {
	@include animation_section_prefixes;
}
@-webkit-keyframes section_animation {
	@include animation_section_prefixes;
}
@-ms-keyframes section_animation {
	@include animation_section_prefixes;
}

.container {
	min-height: 100vh;
	width: 80%;
	display: flex;
	justify-content: center;

}

.visibility {
	display: block;
}

// <<<<<<<<<<<<<<< WELCOM SECTION STYLE >>>>>>>>>>>>>>>>>>>>
// <<<<<<<<<<<<<<< MIXINS FOR  Section 01 >>>>>>>>>>>>>>>>>>>>


#welcome {
	height: 100vh;
	background-image: url('../assets/tweed.png');
	.welcome_text {
		text-align: center;
		margin-top: 30vh;
		// name
		h2 {
			letter-spacing: 0.1em;
			margin-bottom: 3em;
			span.name_animate {
				font-size: 2.8em;
				line-height: 1.5em;
				color: #CFCFCF;
				text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
				@include transition_prefix($transition_style);
				@include animation_prefix($animation_sharpen);
				&:hover {
					text-shadow: 0px 0px 1em #fff;
				}
			}
		}
		// description
		h3 {
			font-size: 1.7em;
			line-height: 1.5em;
			font-weight: 400;
			text-shadow: 0 0 1px #fff;
			text-align: center;
		}
	}

	.arrow_down  {
		display: none;
		position: absolute;
		cursor: pointer;
		width: 2.5em;
		height: 2.5em;
		bottom: 5%;
		left: 48%;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		border-left: none;
		border-top: none;
		border-right: 2px #fff solid;
		border-bottom: 2px #fff solid;

		&:before {
			position: absolute;
			left: 50%;
			content: '';
			width: 50%;
			height: 50%;
			top: 50%;
			margin: -10px 0 0 -10px;
			border-left: none;
			border-top: none;
			border-right: 1px #fff solid;
			border-bottom: 1px #fff solid;
			@include animation_prefix($animation_arrow);
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-name: arrow;
		}
	}
}

// delay mixin for main text (firstname and surname)
@mixin animation_delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-ms-animation-delay: $delay;
	animation-delay: $delay;
}

// loop for delay setting (firstname and surname)
@for $i from 0 through 50 {
	#welcome h2 span.name_animate:nth-child(#{$i}){
		@include animation_delay(0 + $i*0.05s);
	}
}

// <<<<<<<<<<<<<<<<<< ANIMATIONS FOR welcome SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// animation for main text (firstname and surname)

@mixin arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-10px, -10px);
	}
}

@keyframes arrow {
	@include arrow;
}

@-moz-keyframes arrow {
	@include arrow;
}
@-webkit-keyframes arrow {
	@include arrow;
}
@-ms-keyframes arrow {
	@include arrow;
}

@mixin animation_sharpen_prefixes {
	0% {
		opacity: 0;
		text-shadow: 0 0 100px #fff;
		color: transparent;
	}
	90% {
		opacity: 0.9;
		text-shadow: 0px 0px 10px #fff;
		color: transparent;
	}
	100% {
		color: #fff;
		opacity: 1;
		text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
	}
}
@keyframes sharpen {
	@include animation_sharpen_prefixes;
}

@-moz-keyframes sharpen {
	@include animation_sharpen_prefixes;
}
@-webkit-keyframes sharpen {
	@include animation_sharpen_prefixes;
}
@-ms-keyframes sharpen {
	@include animation_sharpen_prefixes;
}


// <<<<<<<<<<<<<<<<<<<<<<<< SECTION SECOND (ABOUT) STYLING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#about {
	.container-fluid, .column {
		margin: 0;
		padding: 0;
		.about_text {
			min-height: 100vh;
			color: #FEF7F1;
			display: flex;
			justify-content: center;
			align-items: center;
			.inside_container {
				width: 70%;
				.section_second_header {
					margin-bottom: 0.4em;
					font-size: 2em;
				}
				.hr {
					margin-bottom: 1.7em;
					width: 60%;
					border: 0;
					height: 1px;
					background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
				}
				.section_second_text {
					margin-bottom: 1em;
				}
			}
		}
		.icons {
			width: 100%;
			min-height: 100vh;
			@extend .about_text;
			text-align: center;
			color: #2A2A2A;
			background-color: #FEF7F1;
			p {
				font-weight: bold;
			}
			ul li {
				margin: 2em auto;
				list-style: none;
				img {
					margin-top: 0;
				}
			}
			img {
				width: 10%;
				margin: 0.5em;
			}
			a {
				text-decoration: none;
				color: inherit;
			}
			.icon_download {
				margin-top: 5em;
				width: 100%;
				text-align: center;
				i {
					margin: 0.5em auto;
					font-size: 2em;
				}
			}
		}
	}
}

// <<<<<<<<<<<<<<<<<<<<<<<< SECTION Third (Technologies) STYLING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#tech {
	background-color: #778688;
	color: #FEF7F1;
	.container {
		width: 60%;
		flex-direction: column;
		.about_text {
			width: 60%;
			.section_second_header{
				font-family: inherit;
				font-size: 2em;
				margin-bottom: 1em;
				line-height: 1.3em;
			}
			.hr {
				margin-bottom: 1.7em;
				border: 0;
				height: 1px;
				background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
			}
		}
		.skill_icons {
			display: inline-block;
			margin: 2em;
			img {
				height: 4vmax;
			}
		}
	}
}

// <<<<<<<<<<<<<<<<<<<<<<<< SECTION Projects STYLING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#projects {
	background-color: #315659;
	.container {
		min-height: 30vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		.section_second_header {
			color: #FEF7F1;
			font-size: 2em;
			margin-bottom: 1em;
			line-height: 1.3em;
		}
		.hr {
			width: 40%;
			border: 0;
			height: 1px;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
		}
	}

	.projects {
		width: 90%;
		min-height: 70vh;

		.single_project {
			padding: 2em;

			// hover effect for projects section
			.view {
				width: 100%;
				overflow: hidden;
				position: relative;
				text-align: center;
				cursor: default;
				img {
					display: block;
					position: relative
				}
				h2 {
					text-transform: uppercase;
					color: white;
					text-align: center;
					position: relative;
					font-size: 2em;
					padding: 10px;
					background: rgba(0, 0, 0, 8);
					margin: 20px 0 0 0
				}
				p {
					font-family: Georgia, serif;
					font-style: italic;
					font-size: 1.3em;
					position: relative;
					color: white;
					padding: 10px 20px 20px;
					text-align: center
				}
				a.info {
					display: inline-block;
					text-decoration: none;
					padding: 7px 14px;
					background: #315659;
					color: #fff;
					text-transform: uppercase;
					box-shadow: 0 0 1px #315659;
					&:hover {
						box-shadow: 0 0 5px #000;
					}
				}
			}
			.view .mask, .view .content {
				width: 100%;
				height: 100%;
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
			}

			.view-sixth {
				img {
					transition: all 0.4s ease-in-out 0.5s;
				}
				.mask{
					background-color: rgba(42, 42, 42, 0.9);
					opacity:0;
					transition: all 0.3s ease-in 0.4s;
				}
				h2 {
					opacity:0;
					border-bottom: 1px solid rgba(255, 255, 255, 0.7);
					background: transparent;
					margin: 20px 40px 0px 40px;
					transform: scale(10);
					transition: all 0.3s ease-in-out 0.1s;
				}
				p {
					opacity:0;
					transform: scale(10);
					transition: all 0.3s ease-in-out 0.2s;
				}
				a.info {
					opacity:0;
					transform: translateY(100px);
					transition: all 0.3s ease-in-out 0.1s;
				}
				&:hover {
					.mask {
						opacity:1;
						transition-delay: 0s;
					}
					img {
						transition-delay: 0s;
					}
					h2 {
						opacity: 1;
						transform: scale(1);
						transition-delay: 0.1s;
					}
					p {
						opacity:1;
						transform: scale(1);
						transition-delay: 0.2s;
					}
					a.info {
						opacity:1;
						transform: translateY(0px);
						transition-delay: 0.3s;
					}
				}
			}
		}
	}
}

#contact {
	background-color: #141B41;
}
