
html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.4vmax;
}

body {
	background-color: #2F2F2F;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.8);
	overflow-x: hidden;

}

// mixin for transition prefixes and animations
$transition_style: all 0.3s ease;
// prefix mixin
@mixin transition_prefix ($style) {
	-webkit-transition: $style;
	-moz-transition: $style;
	-o-transition: $style;
	-ms-transition: $style;
	transition: $style;
}

$animation_sharpen: sharpen 0.5s linear backwards;
$animation_section: section_animation 2s linear backwards;
$animation_arrow: arrow 2s infinite;


@mixin animation_prefix ($animation){
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-animation: $animation;
}

section {
	width: 100vw;
	&.in_viewport {
		@include transition_prefix ($transition_style);
		@include animation_prefix($animation_section);
	}
}

// keyframes for section animation
@mixin animation_section_prefixes {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
	}
}
@keyframes section_animation {
	@include animation_section_prefixes;
}

@-moz-keyframes section_animation {
	@include animation_section_prefixes;
}
@-webkit-keyframes section_animation {
	@include animation_section_prefixes;
}
@-ms-keyframes section_animation {
	@include animation_section_prefixes;
}

.container {
	min-height: 100vh;
	width: 80%;
	display: flex;
	justify-content: center;

}

.visibility {
	display: block;
}

// <<<<<<<<<<<<<<< WELCOM SECTION STYLE >>>>>>>>>>>>>>>>>>>>
// <<<<<<<<<<<<<<< MIXINS FOR  Section 01 >>>>>>>>>>>>>>>>>>>>


#welcome {
	height: 100vh;
	background-image: url('../assets/tweed.png');
	.welcome_text {
		text-align: center;
		margin-top: 30vh;
		// name
		h2 {
			letter-spacing: 0.1em;
			margin-bottom: 3em;
			span.name_animate {
				font-size: 2.8em;
				line-height: 1.5em;
				color: #CFCFCF;
				text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
				@include transition_prefix($transition_style);
				@include animation_prefix($animation_sharpen);
				&:hover {
					text-shadow: 0px 0px 1em #fff;
				}
			}
		}
		// description
		h3 {
			font-size: 1.7em;
			line-height: 1.5em;
			font-weight: 400;
			text-shadow: 0 0 1px #fff;
			text-align: center;
		}
	}

	#arrow_down  {
		display: none;
		position: fixed;
		cursor: pointer;
		width: 2.5em;
		height: 2.5em;
		bottom: 5%;
		left: 48%;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		border-left: none;
		border-top: none;
		border-right: 2px #fff solid;
		border-bottom: 2px #fff solid;

		&:before {
			position: absolute;
			left: 50%;
			content: '';
			width: 50%;
			height: 50%;
			top: 50%;
			margin: -10px 0 0 -10px;
			border-left: none;
			border-top: none;
			border-right: 1px #fff solid;
			border-bottom: 1px #fff solid;
			@include animation_prefix($animation_arrow);
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-name: arrow;
		}
	}
}

// delay mixin for main text (firstname and surname)
@mixin animation_delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-ms-animation-delay: $delay;
	animation-delay: $delay;
}

// loop for delay setting (firstname and surname)
@for $i from 0 through 50 {
	#welcome h2 span.name_animate:nth-child(#{$i}){
		@include animation_delay(0 + $i*0.05s);
	}
}

// <<<<<<<<<<<<<<<<<< ANIMATIONS FOR welcome SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// animation for main text (firstname and surname)

@mixin arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-10px, -10px);
	}
}

@keyframes arrow {
	@include arrow;
}

@-moz-keyframes arrow {
	@include arrow;
}
@-webkit-keyframes arrow {
	@include arrow;
}
@-ms-keyframes arrow {
	@include arrow;
}

@mixin animation_sharpen_prefixes {
	0% {
		opacity: 0;
		text-shadow: 0 0 100px #fff;
		color: transparent;
	}
	90% {
		opacity: 0.9;
		text-shadow: 0px 0px 10px #fff;
		color: transparent;
	}
	100% {
		color: #fff;
		opacity: 1;
		text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
	}
}
@keyframes sharpen {
	@include animation_sharpen_prefixes;
}

@-moz-keyframes sharpen {
	@include animation_sharpen_prefixes;
}
@-webkit-keyframes sharpen {
	@include animation_sharpen_prefixes;
}
@-ms-keyframes sharpen {
	@include animation_sharpen_prefixes;
}


// <<<<<<<<<<<<<<<<<<<<<<<< SECTION SECOND STYLING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
